sudo: required
dist: trusty
language: bash

before_install:
    - sudo apt-add-repository "deb http://archive.ubuntu.com/ubuntu trusty-backports main restricted universe multiverse"
    - sudo apt-get -qq update
    - sudo apt-get -t trusty-backports install shellcheck
    - sudo apt-get -t trusty-backports install checkbashisms
    - sudo pip install bashate

script:
- /bin/bash tests/ostemper-shellchecks.sh